* {
  margin: 0;
  padding: 0;
}

#container {
  max-width: 100vw;
  max-height: 100vh;
}

#fieldContainer {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

#fieldImage {
  max-width: 100vw;
  max-height: 49vh;
  min-height: 50vh;
  top: 5vh;
  position: absolute;
  border: 1px solid white;
}

.clickableImage {
  position: absolute;
  border-radius: 5px;
}

#gamePieceViewerContainer {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
}

#gamePieceViewer {
  background-color: #bb9839;
  position: absolute;
  top: 60vh;
  height: 20vh;
  width: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  border-radius: 5px;
}

#gamePieceContainer {
  display: flex;
  width: 85%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamePieceContainer {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  margin: 4px;
  width: 100%;
}

.gamePieceResultSelector {
  margin: 5px;
  height: 4vh;
}
.resultText {
  color: white;
  margin: 5px;
  height: 4vh;
}

#gamePieceViewerTitle {
  display: flex;
  height: 4vh;
  align-items: center;
  text-align: center;
}

#teamNum {
  position: relative;
  color: white;
  top: 0vh;
}

@media screen and (max-width: 800px) {
  #gamePieceViewer {
    width: 80%;
  }

  .gamePieceContainer {
    justify-content: space-around;
  }
}

.noShow {
  max-width: 4vh;
  max-height: 4vh;
  min-width: 5vh;
  min-height: 5vh;
  position: absolute;
  background-color: #bb9839;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  top: 6vh;
  left: 10vw;
}
.leave{
  max-width: 4vh;
  max-height: 4vh;
  min-width: 5vh;
  min-height: 5vh;
  position: absolute;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.flash-red{
  background-color: red !important;
}