body {
  background-color: #1a2d43;
}

button {
  background-color: #bb9839;
  border: none;
  border-radius: 2px;
  color: black;
}

.nextButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 5vh; */
  /* height: 5vh; */
  position: absolute;
  bottom: 5vh;
  right: calc(55vw / 2 - 10vw);
  padding: 20px 40px;
  margin-top: 10px;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 5vh; */
  /* height: 5vh; */
  position: absolute;
  bottom: 5vh;
  left: calc(55vw / 2 - 10vw);
  padding: 20px 40px;
  margin-top: 10px;
}