.inputLabel {
  display: inline;
  color: #bb9839;
  margin: 1vh;
  font-size: x-large;
  font-weight: bold;
}

select {
  height: 4vh;
}

.inputContainer {
  position: relative;
  display: block;
  margin-top: 10vh;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dataButton {
  width: 40vh;
  height: 10vh;
  margin: 3vh;
}

.cookies {
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  background-color: #ffc629;
  width: 300px; /* Increased width to fit text */
  height: 20px; /* Increased height to fit text */
  padding: 5px;
  margin: 3px;
  text-align: center; /* Ensures text is centered */
}

.cookies p {
  font-size: 20px; /* Adjusted font size to fit the box */
  color: #000000;
  margin: 3; /* Removes default margin */
}


.clickVal {
  display: flex; /* Enables flexbox */
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  background-color: #ffc629;
  width: 300px; /* Increased width to fit text */
  height: 30px; /* Increased height to fit text */
  padding: 5px;
  margin: 1px;
  text-align: center; /* Ensures text is centered */
}

.clickVal p {
  font-size: 20px; /* Adjusted font size to fit the box */
  color: #000000;
  margin: 0; /* Removes default margin */
}

.cookieClick:hover {
  position: relative;
  display: block;
  cursor:grab;
}

.upgradeClickVal:hover {
  position: relative;
  display: block;
  cursor:grab;
}

.cookieClick {
  position:relative;
  cursor: pointer;
}

.cookieClick::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom:110%;
  transform: translateX(-50%);
  background: #ffc629da;
  color:#000000;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.cookieClick:hover::after {
  opacity: 1;
  visibility: visible;
}



.upgradeClickVal {
  position:relative;
  cursor: pointer;
}

.upgradeClickVal::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom:110%;
  transform: translateX(-50%);
  background: #ffc629da;
  color:#000000;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
}

.upgradeClickVal:hover::after {
  opacity: 1;
  visibility: visible;
}